<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ceri.m1ilsen.applicationprojetm1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SignUpActivity" />
        <activity android:name=".ui.EditProfileActivity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.PatientSheetActivity" />
        <activity android:name=".ui.CreateExerciceActivity" />
        <activity android:name=".ui.HomePageActivity" />
        <activity
            android:name=".ui.CreateExerciceActivity2"
            android:label="@string/title_activity_create_exercice2"></activity>
    </application>

</manifest>